.container {
    height: 100%;
    
    &List {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-row-gap: 2rem;
    }
}

.teste {
    width: 100%;
    background-color: #fff;
}