.cardContainer {
    width: 400px;
    border: 1px solid gray;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    background-color: #febeac;

    &Image {
        
    }

    &Buttons {
        display: flex;
        gap: 0.5rem;
    }

    &Info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }
}

.headerCard {
    display: flex;
    justify-content: space-between;
}