.cardContainer {
    width: 400px;
    border: 1px solid gray;
    margin-bottom: 1rem;
    border-radius: 0.5rem;

    &Image {
        
    }

    &Buttons {
        display: flex;
        gap: 0.5rem;
    }

    &Info {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    &Link {
        padding: 0;
        margin-top: -5px;
        color: white;
        font-weight: bold;
        background-color: blue;
        height: 2.5rem;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}