.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &List {
        max-width: 800px;
        margin: 14px auto;
    }
}

.teste {
    width: 100%;
    background-color: #fff;
    border-radius: 26px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}