.cardContainer {
    margin: 0;
    padding: 0;

    &Link {
        padding: 0;
        margin-top: -5px;
        color: white;
        font-weight: bold;
        background-color: blue;
        height: 2.5rem;
        width: 100%;
        text-align: center;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}