.cardContainer {
    height: 35rem;
    width: 35rem;
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: flex-end;
    border-radius: 1rem;
    margin-top: 1rem;

    &Link {
        color: white;
        font-weight: bold   ;
        background-color: blue;
        height: 2.5rem;
        width: 100%;
        text-align: center;
        text-justify: center;
        flex-wrap: wrap;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}